header {
  background: #99592a;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 40px;
  left: -50px;
}

.dropdown-toggle {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #4d331f;
  font-size: 17px;
}

h6 {
  margin-bottom: 0;
  font-size: 24px;
}

header .btn {
  background-color: #4d331f;
  border-color: #4d331f;
}

.main_logo {
  width: 250px;
}
